venv/
build/

/core/.env
#  git rm --cached core/.env  

/core/__pycache__/
# git rm -r --cached core/__pycache__/

/api/__pycache__/
# git rm -r --cached api/__pycache__/

/api/migrations/
# git rm -r --cached api/migrations/