venv/
build/

/core/.env
#  git rm --cached core/.env  

/core/__pycache__/
# git rm -r --cached core/__pycache__/

/api/__pycache__/

/api/migrations/
# git rm -r --cached api/__pycache__/
# git rm -r --cached api/migrations/

/account/__pycache__/
/account/migrations/
*.dump
media.zip
lalasol-railway-variables.txt
# media/ ! don't do it because when you deployed it it will remove all static files.
# git rm -r --cached account/__pycache__/
# git rm -r --cached account/migrations/



